// Place all the styles related to the location controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";

/* forms */

form {
  margin: 15px 0;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  margin-bottom: 15px;
  @include box-sizing(border-box)
}

input {
  height: auto !important
}

/* search history side bar */

.search_history {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
  }
}

.history_record {
  padding: 10px 0;
  border-bottom: 1px solid $gray-lighter;
}

/* Google maps */
.maps {
  margin-top: 15px;
}


