<div class="row">
   <%= render 'search_form' %>
</div>

<% unless @location.nil? %>
    <div class="col-md-5 col-md-offset-2">
        <div class="search_result">
            <%= render 'location' %>
        </div>
    </div>
    <aside class="col-md-3 cold-md-offset-2">
      <section>
        <%= render 'search_history' %>
      </section>
    </aside>
<% end %>
